.navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.navbar > ul > li {
    list-style: none;
}

.navbar > li {
    list-style: none;
}

.navbar > ul {
    display: flex;
    gap: 25px;
}